a {
    color: black; 
}
body {
    cursor: url('../TURTLE.png'), pointer;
    overflow-x: hidden !important;
    /*overflow: hidden;*/
}

@font-face {
    font-family: 'CooperBlack'; /*a name to be used later*/
    src: url('../fonts/cooper-black.ttf') format('eot'),
    url('../fonts/cooper-black.ttf') format('woff'),
    url('../fonts/cooper-black.ttf') format('truetype'),
    url('../fonts/cooper-black.ttf') format('svg');
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans.ttf') format('eot'),
    url('../fonts/opensans.ttf') format('woff'),
    url('../fonts/opensans.ttf') format('truetype'),
    url('../fonts/opensans.ttf') format('svg');

}
@font-face {
    font-family: 'PermanentMarker';
    src: url('../fonts/PermanentMarker.ttf') format('eot'),
    url('../fonts/PermanentMarker.ttf') format('woff'),
    url('../fonts/PermanentMarker.ttf') format('truetype'),
    url('../fonts/PermanentMarker.ttf') format('svg');

}
@media only screen and (max-width: 768px) {
    .weare, .quote{
        font-size:20px;
    }
}
@media only screen and (min-width: 768px) {
    .weare, .quote {
        font-size: 30px;
    }
}
body {
    /*background-color: #66B147;*/
}

.yo {
    color: blue
}

/* Facebook */

.fa-facebook {
    font-size: 360%;
    color: black !important;
}
.fa-instagram {
    font-size: 360%;
    color: black !important;
}
.fa-youtube {
    font-size: 360%;
    color: black !important;
}
.fa-spotify {
    font-size: 360%;
    color: black !important;
}
.fa-bullhorn {
    color: black !important;
    font-size: 190%;
}

.fa-bolt{
    display: none;
}
@media(min-width:500px){
    .fa-facebook {
        font-size: 260%;
        color: white;
    }
    .fa-instagram {
        font-size: 260%;
        color: white;
    }
    .fa-youtube {
        font-size: 260%;
        color: white;
    }
    .fa-spotify {
        font-size: 260%;
        color: white;
    }
    .fa-bullhorn {
        color: white;
        font-size: 360%;
    }
}
@media(min-width: 768px){
    .fa-facebook {
        font-size: 230%;
    }
    .fa-instagram {
        font-size: 230%;
    }
    .fa-youtube {
        font-size: 230%;
    }
    .fa-spotify {
        font-size: 230%;
    }
    .fa-bullhorn {
        color: white;
        font-size: 330%;
    }
}

h1 {
    font-size: 20px;
    color: black;
    font-family: PermanentMarker;
}

@media(min-width: 500px) {
    h1 {
        font-size: 30px;
    }
}


.quote {
    color: black;
    font-family: PermanentMarker;
}
.weare {
    font-weight: bold;
    color: black;
    font-family: PermanentMarker;
}
#gigs {
    font-size: 18px;
    color: black;
    font-family: PermanentMarker;
}
@media(min-width:500px) {
    #gigs {
        font-size: 22px
    }
}
@media(min-width:768px) {
    #gigs {
        font-size: 30px;
    }
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
    margin-bottom: 10px;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img.a {
    width: 50px;
    height:50px;
    position:fixed;
    
}
.navbar-fixed-top {
    background-color: black;
    color: white;
}
.navbar-fixed-top a {
    color: white !important;
}
.navbar {
    border: none;
}
.navbar a {
    font-family: PermanentMarker;
}
#home-navbar {
    background-color: transparent; !important;
    color: black;
    border: none;
}
#home-navbar a {
    font-size: 18px;
}
@media (min-width: 500px) {
    #home-navbar a {
        font-size: 18px;
    }
}
@media (min-width: 768px) {
    #home-navbar a {
        font-size: 22px;
    }
}
.links {
    display: inline-flex;
    font-size: 20px;
}

.social {
    display: inline-flex;
}
.press h3 {
    color: #ff69b4;
    font-family: CooperBlack;
}
.press img {
    padding-bottom: 10px;
}
.press-info h3{
    font-family: CooperBlack;
}
.press-info p {
    color: white;
    font-size: 16px;
    font-family: OpenSans;
}
#visit {
    font-size: 20px;
    font-weight: bold;
}
#visit a:hover {
    color: white;
}
#visit a {
    color: black;
}

.img-responsive {
    margin: 0 auto;
}
#welcome {
    color: white;
    background-color: black;
}