@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
}
body {
    cursor: url('../TURTLE.png'), pointer;
    /*overflow: hidden;*/
}

@font-face {
    font-family: 'CooperBlack'; /*a name to be used later*/
    src: url('../fonts/cooper-black.ttf') format('eot'),
         url('../fonts/cooper-black.ttf') format('woff'),
         url('../fonts/cooper-black.ttf') format('truetype'),
         url('../fonts/cooper-black.ttf') format('svg');
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans.ttf') format('eot'),
         url('../fonts/opensans.ttf') format('woff'),
         url('../fonts/opensans.ttf') format('truetype'),
         url('../fonts/opensans.ttf') format('svg');

}
@media only screen and (max-width: 768px) {
    h1{
        font-size:60px;
    }
}
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 100px;
    }
}
@media only screen and (max-width: 768px) {
    .weare, .quote{
        font-size:20px;
    }
}
@media only screen and (min-width: 768px) {
    .weare, .quote {
        font-size: 30px;
    }
}
body {
    background-color: #66B147;
}
h1 {
    color: lightblue;
}
.yo {
    color: blue
}

/* Facebook */

.fa-facebook {
    font-size: 360%;
    color: white;
}
.fa-instagram {
    font-size: 360%;
    color: white;
}
.fa-youtube {
    font-size: 360%;
    color: white;
}
.fa-bullhorn {
    color: white;
    font-size: 190%;
}

@media(min-width:500px){
    .fa-facebook {
        font-size: 260%;
        color: white;
    }
    .fa-instagram {
        font-size: 260%;
        color: white;
    }
    .fa-youtube {
        font-size: 260%;
        color: white;
    }
    .fa-bullhorn {
        color: white;
        font-size: 360%;
    }
}
@media(min-width: 768px){
    .fa-facebook {
        font-size: 230%;
        color: white;
    }
    .fa-instagram {
        font-size: 230%;
        color: white;
    }
    .fa-youtube {
        font-size: 230%;
        color: white;
    }
    .fa-bullhorn {
        color: white;
        font-size: 330%;
    }
}

h1 {
    color: white;
    font-family: CooperBlack;
}

.quote {
    color: white;
    font-family: CooperBlack;
}
.weare {
    font-weight: bold;
    color: white;
    font-family: CooperBlack;
}
#gigs {
    color: white;
    font-family: CooperBlack;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img.a {
width: 50px;
height:50px;
position:fixed;
    
}
.navbar {
    background: #ff69b4;
    border: none;
    cursor: pointer;
}
.navbar a {
    font-family: CooperBlack;
    color: white !important;
}
.navbar-brand {
    color: black !important;
}
.links {
    font-size: 20px;
}

.social {
    margin-top: 10px;
    display: inline-flex;
}
.press h3 {
    color: #ff69b4;
    font-family: CooperBlack;
}
.press img {
    padding-bottom: 10px;
}
.press-info h3{
    font-family: CooperBlack;
}
.press-info p {
    color: white;
    font-size: 16px;
    font-family: OpenSans;
}
#visit {
    font-size: 20px;
    font-weight: bold;
}
#visit a:hover {
    color: white;
}
#visit a {
    color: black;
};