.navbar {
  background-color: #9AAAD3;
  border: none;


  .navbar-brand {
    padding: 17.5px 15px;
    color: @brand-primary;
    font-size: 24px;
    line-height: 29px;
    height: 64px;
  }

  .navbar-nav {
    & > li > a {
      color: @brand-primary;
      line-height: 29px;
      font-size: 17.5px;
      @media (min-width: 768px) {
        padding-top: 17.5px;
        padding-bottom: 17.5px;
      }
    }

    & >.active {
      a,
      a:hover {
        background-color: @bg-dark;
      }
    }
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .navbar-nav>li>a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#signup { 
  background-color: #9AAAD3;
  color: white;
  /*font-size: 18px;*/
  margin-top: 14px;
  margin-right: 0px;
  border: none;
  padding: 5px;
  &:hover{
    color: #ff00ce;
    background-color: white;
  };
}
@media (min-width: 768px) and (max-width: 856px) {
 #signup {
  margin-right: -15px;
  }
}
@media (min-width: 857px) and (max-width: 991px) {
  #signup {
    margin-right: -59px;
  }
}

.navbar-collapse {
  border: none;
  max-height: 5000px !important;
  height: 100% !important;
}
