@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@import "base/variables";
@import "base/mixins";
@import (inline) "vendor/bootstrap.min.css";

@import "site/header";
@import (inline) "site/footer.css";

body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
  font-family: "Permanent Marker", cursive;
  font-size: 16px;
  line-height: 1.846;
  background-color: @bg-dark;
  color: #666;
  overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Permanent Marker", cursive;
  color: @brand-primary;
}


a {
  color: @brand-primary;

  &:hover,
  &:active {
    color: darken(@brand-primary, 6%);
  }
}

code {
  color: @brand-primary;
  background-color: #FCF5F1;
}

input,
button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
}

hr {
  &.small {
    max-width: 100px;
    margin: 2.5em auto;
    border-color: rgba(0, 0, 0, 0.2);
  }
}
.social-home .fa {
  font-size: 280% !important;
  color: white !important;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px; overflow: hidden;
  margin-bottom: 10px;
  iframe, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container-fluid {
  margin: 40px auto 10px;
  padding: 20px 0px;
  max-width: 760px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.embed-responsive-4by3 {
  padding-bottom: 58%;   
}
