@import "base";

.panel-heading,
.panel-body {
  padding: 15px 20px 15px 25px;
}

.panel-default {
  .panel-heading {
    padding-top: 1px;
    background-color: @bg-medium;
    color: @bg-dark;

    h2 > small {
      color: @bg-dark;
    }

    h5 {
      color: @bg-dark;
      font-size: 1em;
    }
  }
}

.nav-stacked.affix {
  margin-top:90px;
  top: 0;
  width: 10.3em;
}

.nav-stacked.affix-bottom {
  margin-bottom:200px;
}


.configuration-page h4 {
  font-size:21px;
}

.commands-page h4 {
  margin-top:20px
}

.large-heading {
  padding-top:1px;
}

ul.top-split {
  margin-bottom:0px;
}

.workflow-steps ul {
  list-style-type:none;
  padding-left:0;
  border:1px solid #E5E5E5;
}

.workflow-steps li {
  border-top: 1px solid #E5E5E5;
  padding:5px;
}

.workflow-steps ul > li:first-child {
  border-top:0
}

.btn-primary.active {
  background-color: #c45c17;
  border:0;
}

h2[id]:before, h3[id]:before, h4[id]:before {
  display: block;
  content: " ";
  margin-top: -121px;
  height: 121px;
  visibility: hidden;
}

h3[id]:before {
  margin-top: -115px;
  height: 115px;
}

h4[id]:before {
  margin-top: -115px;
  height: 115px;
}

@media (max-width: 1200px) and (min-width: 991px) {
  .nav-stacked.affix {
    width:8.5em;
  }
}

@media (max-width: 765px) {
  .row .affix {
    position: static;
  }

  .nav-stacked.affix {
    margin-top:0px;
  }
}
ul {
  list-style-type: none;
}
.thumbnail {
  height: auto;

}

.turtletimecapsule-page { 
  h2 {
    
  }
  hr {
    border-color: black;
  }
  /*background: url("../images/spaceship.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../images/spaceship.jpg") !important;
  background-repeat: repeat;
  background-color: #F8ECC2;
  background-position: center;
  h1, h2 {
    
    color: #383b3e !important;
  }
  height: 100%;
  .navbar .navbar-nav > li > a {
    color: #383b3e !important;
  }
  .navbar {
    background-color: #F8ECC2;
    .navbar-brand {
      color: #383b3e;
    }
  }
  
}
.turtlemania-page {
  height: 100%;
  .navbar .navbar-nav > li > a {
    color: #383b3e !important;
  }
  .navbar {
    /*background-color: #F8ECC2;*/
    .navbar-brand {
      color: #383b3e;
    }
  }
}