<div class="container-fluid">
	<footer>
		<script async type="text/javascript" src="http://s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us6.list-manage.com","uuid":"c77a4e2d3c1630ba3583d272e","lid":"95b3789719"}) })</script>
		<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="public/javascripts/vendor/bootstrap.min.js"></script>
	</footer>