	<footer>
		<br>
		<div class='container-fluid'>
			<div class="col-xs-12 text-center">
				<hr>
				<ul class="social-nav list list-inline text-center">
					<a target="_blank" href="https://www.facebook.com/electricturtlesmusic/"><li><span><i class="fa fa-facebook" aria-hidden="true"></i></span></li></a>
					<a target="_blank" href="https://instagram.com/electricturtlesmusic"><li><span><i class="fa fa-instagram" aria-hidden="true"></i></span></li></a>
					<a target="_blank" href="https://www.youtube.com/channel/UCuLZMN_OAN8KJdcSiUSJOIg"><li><span><i class="fa fa-youtube" aria-hidden="true"></i></span></li></a>
					<li><span><iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:3EIxsvqaEjHSjTCqpY9ayZ&size=basic&theme=light" width="200" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe></span></li>
				</ul>
				<span><h5 id='copyright'>ELECTRIC TURTLES 2020</h5></span>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script>
		<script src="public/javascripts/main.js"></script>
		<script src="public/javascripts/vendor/bootstrap.min.js"></script>
		<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>

	</footer>